<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @profile.name %></td>
    <td><%= @profile.address %></td>
    <td><%= @profile.phone %></td>
  </tbody>
</table>
<%= link_to 'Back', profiles_path %>
